/* Reset para eliminar márgenes y asegurar que la página ocupe todo */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Oculta las barras de scroll */
  }
  
  /* Asegúrate de que el contenedor React ocupe todo */
  #root {
    width: 100%;
    height: 100%;
  }